In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r'insurance.csv')

In [4]:
df

   age  premium
0   25    18000
1   30    32000
2   35    40000
3   40    47000
4   45    55000

In [5]:
x = df['age']

In [6]:
y=df['premium']

In [7]:
x,y

(0    25
 1    30
 2    35
 3    40
 4    45
 Name: age, dtype: int64,
 0    18000
 1    32000
 2    40000
 3    47000
 4    55000
 Name: premium, dtype: int64)

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2)

In [10]:
x_train

4    45
2    35
3    40
1    30
Name: age, dtype: int64

In [11]:
y_train

4    55000
2    40000
3    47000
1    32000
Name: premium, dtype: int64

In [12]:
x_test

0    25
Name: age, dtype: int64

In [13]:
y_test

0    18000
Name: premium, dtype: int64

In [14]:
len(y_test)

1